.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--color-principal);
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo img {
  height: 40px;
}
.logo h1 {
  font-family: var(--fuente-titulo-a);
  font-size: var(--tamaño-fuente-uno);
  color: #f7f7f7;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav ul li a {
  text-decoration: none;
  font-size: var(--tamaño-fuente-uno);
  font-weight: 600;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links a {
  text-decoration: none;
  font-size: var(--tamaño-fuente-uno);
  font-weight: 600;
}

.menu-button {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav ul {
    display: none;
  }

  .social-links {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .nav.open ul {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #f8f8f8;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}
