@font-face {
  font-family: "Jost-Regular";
  src: url("../src/assets/fonts/Jost-Regular.ttf");
}
@font-face {
  font-family: "Pacifico-Regular";
  src: url("../src/assets/fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../src/assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../src/assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Satisfy-Regular";
  src: url("../src/assets/fonts/Satisfy-Regular.ttf");
}

:root {
  --fuente-regular: "Jost-Regular";
  --fuente-titulo-a: "Satisfy-Regular";
  --fuente-descripcion: "Roboto-Bold";

  /* colores */
  --color-principal: #14b6b6;
  --color-principal-oscuro: #179b9b;

  /* personalizado */
  --tamaño-fuente-logo: clamp(1rem, 3vw, 1.8rem);
  --tamaño-fuente-uno: clamp(1rem, 3vw, 1.5rem);
  --tamaño-fuente-dos: clamp(1.5rem, 3vw, 3rem);
  --tamaño-fuente-tres: clamp(1rem, 3vw, 2rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: var(--fuente-regular), "Open Sans", sans-serif;
  color: #000;
}

body {
  font-family: var(--fuente-regular), "Open Sans", sans-serif;
  color: #000;
  margin: 0;
}

p {
  margin-bottom: 0rem;
}

a {
  color: #000;
  text-decoration: none;
}

.main-container {
  margin: auto;
  max-width: 1658px;
}
