.card__product {
  display: grid;
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2.4rem;
  height: 45rem;
}

.product__img {
  border-radius: 1.6rem;
  box-shadow: none;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product__img__container img {
  height: 200px;
  width: 100%;
  border-top-left-radius: 1.6rem; /* Radio de borde en la esquina superior izquierda */
  border-top-right-radius: 1.6rem; /* Radio de borde en la esquina superior derecha */
}

.product__body {
  padding: 1rem;
  text-align: center;
}

.product__body h2 {
  font-size: 1.5rem;
}

.product__body p {
  font-size: 1.2rem;
}

.product__button {
  margin-top: auto;
  text-align: center;
  margin-bottom: 2rem;
}

@container card (min-width: 380px) {
  .product__img {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .product__body {
    padding-left: 0;
  }
  .product__img__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .product__img__container img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
