.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  text-align: center;
  font-family: var(--fuente-descripcion);
  max-width: 150rem;
  margin: 4rem auto;
}
