.aboutUs__title h1 {
  font-size: var(--tamaño-fuente-titulos);
  font-weight: 600;
}

.aboutUs__description {
  margin: 2rem 6rem;
}

.aboutUs__description p {
  font-size: var(--tamaño-fuente-descripcion);
  text-align: center;
}
