.aboutUs {
  text-align: center;
  max-width: 150rem;
  margin: 4rem auto;
}

.aboutUs__titulo h1 {
  font-size: var(--tamaño-fuente-titulos);
}

.aboutUs span {
  font-family: var(--fuente-mundomontessori);
  font-size: var(--tamaño-fuente-mundomontessori);
  margin-left: 1rem;
}

.aboutUs__description {
  margin: 2rem 6rem;
}

.aboutUs__description p {
  font-size: var(--tamaño-fuente-descripcion);
  text-align: center;
}
