.products__description {
  margin: 2rem 0;
}

.products__description h1 {
  font-size: var(--tamaño-fuente-titulos);
}

.products__description span {
  font-family: var(--fuente-mundomontessori);
  font-size: var(--tamaño-fuente-mundomontessori);
  margin-left: 1rem;
}
.products__description p {
  font-size: var(--tamaño-fuente-descripcion);
  text-align: center;
}
